@font-face {
  font-family: "Archivo";
  src: url(fonts/Archivo-VariableFont_wdth,wght.ttf), url(fonts/Archivo-Italic-VariableFont_wdth,wght.ttf);
}
@font-face {
  font-family: "Reforma";
  src: url(fonts/Reforma2018-Blanca.woff), url(fonts/Reforma2018-Gris.woff), url(fonts/Reforma2018-Negra.woff);
}